
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>phone_number:</strong>
  <%= @user.phone_number %>
</p>
<p><p><p>
<strong>address:</strong>
  <%= @user.address %>
</p>
<p><p>
  <strong>age:</strong>
  <% if @user.date_of_birth? %>
    <%= @user.age %>
  <% end %>
</p>
<p>
  <strong>avatar:</strong>
  <%= image_tag @user.avatar.url %>
</p>

